{% extends "shop/basic.html" %}
{% block title %}Signup{% endblock title %}
{% block body %}
<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form action= "/shop/signup/" method='post'>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Choose a unique username">
                </div>
                <div class="form-group">
                  <label for="fname">First Name</label>
                  <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter Your First Name">
                </div>
                <div class="form-group">
                  <label for="lname">Last Name</label>
                  <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Your Last Name">
                </div>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                </div>
                <div class="form-group">
                  <label for="pass1">Choose a password</label>
                  <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Choose Your Password">
                </div>
                <div class="form-group">
                  <label for="pass2">Confirm Password</label>
                  <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Enter your password again">
                </div>
               
              
                      {% csrf_token %}
                      <button type="submit" class="btn btn-primary">Submit</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}